/* フォント定義 */
@font-face {
    font-family: 'ZenMaruGothic';
    src: url('../fonts/ZenMaruGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* オーニングとロゴ */
.awning {
    height: 100px;
    background-image: url('../images/awning.svg');
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 100%;
}

.logo-title {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fcf9ed;
}

.logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #BCD2B7;
    text-decoration: none;
}

.logo-title h1 {
    font-size: 2rem;
    color: #BCD2B7;
    margin-top: 0.5rem;
    letter-spacing: 0.03em;
}
/* 全体 */
body {
    margin: 0;
    background-color: #fcf9ed;
    font-family: 'ZenMaruGothic', sans-serif;
    color: #a47f5c;
}

/* 共通セクション幅 */
section {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

/* ナビバー共通 */
.navbar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 0.1rem;
    background-color: #BCD2B7;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #FFF8F0;
    padding: 0.3rem 0.4rem 0.4rem 0.4rem;
    border-radius: 6px;
    font-family: 'ZenMaruGothic', sans-serif;
    font-weight: 600;
}

.nav-links a:hover {
    background-color: #9cc5af;
}

/* フッター */
.site-footer {
    background-color: #BCD2B7;
    text-align: center;
    padding: 0.2rem 0;
    font-family: 'ZenMaruGothic', sans-serif;
    font-size: 0.7rem;
    color: #FFF8F0;
    margin-top: 2rem;
}

/* h1, h2共通 */
h1,
h2 {
    font-family: 'ZenMaruGothic', sans-serif;
    font-weight: 600;
    color: #a47f5c;
    line-height: 1.2;
    margin: 0.5rem 0;
}

/* p, li共通 */
p,
li {
    font-family: 'ZenMaruGothic', sans-serif;
    color: #a47f5c;
    margin-bottom: 0.5rem;
}

/* 「もっとみる」共通 */
.more-link {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #7e634a;
    text-decoration: none;
}

.more-link:hover {
    text-decoration: underline;
}